.file-viewer {
  background: rgb(30, 30, 30);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 200;
}
// .file-viewer {
//   // display: flex;
//   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
//   z-index: 200;
//   flex: 1;
//   min-width: 170px;
//   max-width: 170px;
//   flex-basis: auto; /* default value */
//   flex-grow: 1;

//   background: rgb(30, 30, 30);
// }

.file-viewer ul {
  // height: 100%;
  // list-style: none;
  // // list-style-type: none;
  // // display: flex;
  // // text-align: left;
  // // flex-direction: column;
  // // flex-wrap: wrap;
  // display: inline-block;
  // // padding: 5px;
  // // margin: -10px 0;
  // justify-content: start;
  // background-color: yellow;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.file-viewer li {
  // margin: 1rem -1.5rem;
  display: inline-block;
  padding: 1rem 1rem;
}

.file-viewer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  font-size: 1.2rem;
}

.file-viewer a:hover,
.file-viewer a:active {
  color: #c4a185;
}

.file_list li {
  // margin: 0.25rem -1rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
}

.file_list a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  font-size: 0.9rem;
}
