// .Monaco {
//   flex: 2;
//   // align-items: stretch;
//   flex-grow: 1;
// }
.Monaco {
  // text-align: left;
  height: 100%;
  width: 100%;
  margin: 0;
  // position: relative;
  // position: fixed;
  // left: 170px;
}
