// .svg_viewer {
//   flex: 2;
//   flex-grow: 1;
// }
.svg_viewer {
  //   position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  //   top: 0;
  //   right: 0;
  background: rgb(206, 206, 206);

  //   left: 200px;
}

// .svg_viewer svg {
//   fill: blue;
// }

// .svg_viewer svg g:nth-child(7) {
//   stroke: green;
// }

// // #root > div > main > div.box_debug > div.box_svgViewer > div > svg > line:nth-child(8)
// // #root > div > main > div.box_debug > div.box_svgViewer > div > svg > g:nth-child(5)
// // #root > div > main > div.box_debug > div.box_svgViewer > div > svg > g:nth-child(2)
// #root > div > main > div.box_debug > div.box_svgViewer > div > svg
